@import "../theme/colors";

.marvelButton {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  height: 56px;
  color: #fff;
  position: relative;

  &__left {
    fill: $primary;
  }

  &__right {
    fill: $primary;
    transform: rotate(180deg);
  }

  &__center {
    background: $primary;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &:hover,
  &:active {
    cursor: pointer;

    .marvelButton {
      &__left,
      &__right {
        fill: $primary20;
      }

      &__center {
        background: $primary20;
      }
    }
  }

  &:focus,
  &:active {
    outline: 3px solid #fff;
  }

  &--secondary {
    .marvelButton {
      &__center {
        background: $neutral30;
      }

      &__left,
      &__right {
        fill: $neutral30;
      }
    }

    &:hover,
    &:active {
      cursor: pointer;

      .marvelButton {
        &__left,
        &__right {
          fill: $neutral10;
        }

        &__center {
          background: $neutral10;
        }
      }
    }
  }

  &--disabled {
    opacity: 0.5;

    &:focus,
    &:active,
    &:hover {
      cursor: auto;
      outline: none;

      .marvelButton {
        &__left,
        &__right {
          fill: $neutral30;
        }

        &__center {
          background: $neutral30;
        }
      }
    }
  }
}
